*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Montserrat', sans-serif;
}
.bg-thread{
  background-color: #e9d5ce !important;
}
.navbar-brand{
  font-family: 'Pacifico', cursive;
}
.intro{
  font-weight: 400;
}
.shopTitle{
  font-size: 2.5rem !important;
}
.loginFormBox{
  background-color: #f4efb5;
  padding: 0.25px 0;
}
.registerFormBox{
  background-color: #eab0c8;
  padding: 0.25px 0;
}
label{
  margin-bottom: 0 !important;
}
